Django==5.1.6
djangorestframework==3.14.0
django-cors-headers==4.3.1
django-allauth==65.14.3
cryptography==43.0.0
python-dotenv==1.0.0
groq==0.10.0
google-auth==2.31.0
PyJWT==2.11.0
requests==2.31.0
Pillow==10.4.0
PyPDF2==3.0.1
PyMuPDF==1.24.14
psycopg2-binary==2.9.10
gunicorn==23.0.0
